@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem auto;
    background-color: #252422;
    color: #ccc5b9;
    align-items: center;
   

}

header {
    width: 80%;
    border-bottom: 2px solid grey;
    padding-bottom: .4rem;
    margin-bottom: 3rem;


}



a {
    color: #eb5e28;
}

h1 {
    font-family: "Rubik Doodle Shadow", system-ui;
    line-height: normal;
    margin: 0;
    font-size: 4.5rem;


}


header h2 {
    font-size: 2rem;
  margin:0;
  padding-top: 1rem;

}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

p,
li,
form {
    font-size: 1rem;
}

.flex-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  

}
section {
    display: flex;
    align-items: flex-start;
   width: 80%;
}
.flex-2 div {
    background-color: #211f1d;
    padding: 2rem;
    transition: box-shadow .05s;
    flex: 1;

}

.flex-2 div:hover {
    box-shadow: 0px 0px 10px #c25b32;
}

a:hover {
    color: #ccc5b9;
}

@media (max-width:540px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
